html,
body {
    margin: 0;
}

section {
    margin-bottom: 4.5em;
}

/* banner section style   */
#banner {
    background: url("images/donation9.jpg") no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner h1 {
    font-family: 'Inter', sans-serif;
    font-size: 65px;
}

#banner p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 28px;
}

.color_blue {
    color: #ff5959;
}

.banner_content {
    color: #FFFFFF;
    width: 50%;
    text-align: center;
    /* flex-direction: column; */
}

.donate_btn {
    background-color: #FF5959;
    padding: 17px 30px;
    border: none;
    border-radius: 7px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 0.8em;
}

/* .banner_content h1 {
    margin: 0;
} */

/* donate today section style  */
#donate_today {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.donateTodayHeading {
    text-align: center;
    width: 40%;
}

.donateTodayHeading h1 {
    font-family: 'Inter', sans-serif;
    color: #121212;
    font-size: 45px;
    font-weight: 700;
}

.donateTodayHeading p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #707070;
}

.choose_amount {
    display: flex;
    position: relative;
    right: 8em;
    margin-top: 2em;
}

.btn_tk {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-right: 2%;
    padding: 10% 5%;
    color: #707070;
    border: none;
    cursor: pointer;
    background-color: #FAFAFA;
}

.active,
.btn_tk:hover {
    background-color: #FFEEEE;
    color: #FF5959;
    border: 2px solid #FF5959;
}

.donate_now {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 4em;
}

.donate_now input {
    border: none;
    padding: 0.5em 0 0 0;
    width: 16em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: grey;
    outline: none;
    text-align: center;
}

/* placeholder styles */
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #B3B3B3;
    font-size: 18px;
    opacity: 1;
    /* Firefox */
}

/* for hiding the input arrow;*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.donate_now hr {
    width: 100%;
    border: 1px solid #DADADA;
}

/* donate plan section style  */
#donate_plan {
    margin-top: 7em;
}

.donatePlanHeading {
    text-align: center;
    width: 40%;
    margin: auto;
    margin-bottom: 3em;
}

.donatePlanHeading h1 {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    color: #121212;
}

.donatePlanHeading p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    text-align: center;
}

.plan_cards_container {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.plan_card {
    width: 31%;
    margin-right: 3%;
    padding: 5em 5em 5em 2em;
}

.plan_card h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #121212;
    text-align: left;
}

.plan_card p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #707070;
    text-align: left;
}

.color1 {
    background-color: #4F9DA610;
}

.color2 {
    background-color: #FF595910;
}

.color3 {
    background-color: #FFF4D6;
}

/* people_story1 section style */

.peoples_story1 {
    display: flex;
    width: 80%;
    margin-top: 8%;
    margin-left: 10%;
}

.peoples_story_h1 {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #121212;
}

.peoples_story_p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    text-align: left;
}

.width_left {
    width: 50%;
}

.leftContent {
    padding-top: 4%;
    padding-bottom: 4%;
}

.contribute_btn {
    background-color: #FF5959;
    padding: 17px 30px;
    border: none;
    border-radius: 7px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 0.8em;
}

.image_container {
    padding-left: 10%;
}

.right_image_style {
    width: 80%;
    height: 100%;
    border-radius: 5px;
}

/* people_story2 section style  */

.peoples_story2 {
    display: flex;
    width: 80%;
    margin-top: 6%;
    margin-left: 10%;
}

.left_image_style {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.width_right {
    width: 50%;
    padding-bottom: 2%;
}

.rightContent {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 35%;
    padding-left: 14%;
}

/* .rightContent p {
    width: 60%;
} */

/* get update section style */

#get_update {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#getUpdateHeading {
    text-align: center;
    width: 35%;
}

#getUpdateHeading p {
    text-align: center;
}

#email_input {

    border: none;
    padding: 0.5em 0 0.5em 0.6em;
    width: 16em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #AA9F9F;
    outline: none;
    background-color: #D9D9D9;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    margin-right: 0;
}

/* placeholder styles */
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #B3B3B3;
    font-size: 18px;
    opacity: 1;
    /* Firefox */
}

#subs_btn {
    padding: 0.9em 3em 0.7em 3em;
    border: none;
    cursor: pointer;
    background-color: #FF5959;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    position: relative;
    right: 5px;
}

.subscribe {
    width: 45%;
    text-align: center;
}

.form {

    padding-top: 7%;
    padding-bottom: 7%;
    background-color: #FFF4D6;

}

/* footer style */

footer {
    text-align: center;
}