html,
body {
    margin: 0;
}

/* banner section style   */
#banner {
    background: url("images/donation9.jpg") no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_content {
    color: white;
    width: 30%;
    /* flex-direction: column; */


}

/* .banner_content h1 {
    margin: 0;
} */

/* donate today section style  */
#donate_today {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.donateTodayHeading {
    text-align: center;
    width: 30%;
}

.choose_amount {
    display: flex;
}

.btn {
    margin-right: 2%;
}

#donate_plan {}

/* donate plan section style  */

.donatePlanHeading {
    text-align: center;
    width: 30%;
    margin: auto;
}

.plan_cards_container {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.plan_card {
    width: 31%;
    margin-right: 3%;
}

.color1 {
    background-color: #4F9DA610;
}

.color2 {
    background-color: #FF595910;
}

.color3 {
    background-color: #FFF4D6;
}

/* people_story1 section style */

.peoples_story1 {
    display: flex;
    margin-top: 5%;
}

.half_width {
    width: 50%;
}

.left_padding {
    padding-left: 10%;
    padding-right: 2%;
}

.leftContent {
    padding-top: 4%;
    padding-bottom: 4%;
}

.leftContent p {
    width: 60%;
}

.image_style {
    width: 60%;
    height: 100%;

}

/* people_story2 section style  */

.peoples_story2 {
    display: flex;
    margin-top: 4%;
}

.rightContent {
    padding-top: 4%;
    padding-bottom: 4%;
}

.rightContent p {
    width: 60%;
}

/* get update section style */

#get_update {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#getUpdateHeading {
    text-align: center;
    width: 30%;
}

.subscribe {
    width: 45%;
    text-align: center;
}

.form {

    padding-top: 7%;
    padding-bottom: 7%;
    background-color: #FFF4D6;

}

/* footer style */

footer {
    text-align: center;
}