html,
body {
    margin: 0;
}

#banner {
    background: url("images/donation9.jpg") no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_content {
    color: white;
    width: 30%;
    /* flex-direction: column; */


}

/* .banner_content h1 {
    margin: 0;
} */
#donate_today {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.donateTodayHeading {
    text-align: center;
    width: 30%;
}

.choose_amount {
    display: flex;
}

.btn {
    margin-right: 2%;
}

#donate_plan {}

.donatePlanHeading {
    text-align: center;
    width: 30%;
    margin: auto;
}

.plan_cards_container {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.plan_card {
    width: 31%;
    margin-right: 3%;
}

.color1 {
    background-color: #4F9DA610;
}

.color2 {
    background-color: #FF595910;
}

.color3 {
    background-color: #FFF4D6;
}